/* CoralPage.css */

/* Import the DM Serif Display font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Container styles */
.CoralPage {
  width: 390px; /* Set width to 390px */
  height: 844px; /* Set height to 844px */
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden; /* Hide any content that overflows the container */
  position: relative; /* Make it relative to position the footer */
}


/* Navigation styles */
.navigation {
  background-color: white; /* Set navigation background to white */
  color: black; /* Set text color to black */
  font-family: 'DM Serif Display', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  height: 77px;
  position: absolute;
  top: 767px;
}


.navigation {
  display: flex;
  justify-content: space-between; /* Distribute items equally */
  align-items: center; /* Center items vertically */
  padding: 0px 0px; /* Add padding to the top and bottom */
  margin-top: 10px; /* Add margin to push it down */
}

/* Style for individual buttons */
.navigation > div {
  flex: 1; /* Grow to fill available space equally */
  text-align: center; /* Center the content */
}



.background-image {
  background-image: url('./images/coralPageBackground.png');
  background-size: cover;
  width: 100%;
  height: 767px;
  position: absolute;
  top: 0;
  background-position: center right; /* Move the background image to the right */
}



/* Content styles */
.content {
  padding: 20px; /* Adjust as needed */
}
