/* CoralButton.css */

.CoralButton {
    position: absolute;
    top: 0px; /* Adjust position as needed */
    right: 300px; /* Adjust position as needed */
    z-index: 1; /* Ensure it's above other content */

  }
  
  .CoralButton img {
    width: 55px;
    height: 50px;
  }