/* LeaderboardButton.css */

.LeaderboardButton {
    position: absolute;
    top: 0px; /* Adjust position as needed */
    right: 150px; /* Adjust position as needed */
    z-index: 1; /* Ensure it's above other content */
  }
  
  .LeaderboardButton img {
    width: 58px;
    height: 57px;
  }
  