/* Import the DM Serif Display font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.HomePage {
    width: 390px; /* Set width to 390px */
    height: 844px; /* Set height to 844px */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Hide any content that overflows the container */
    position: relative; /* Make it relative to position the footer */
}

