/* ShopButtonOnPage.css */
.ShopButtonOnPage {
    position: absolute;
    top: 27px;
    left: 27px;
    z-index: 3; /* Ensure it's above other content */
  }
  
  .ShopButtonOnPage img {
    width: 66px;
    height: 64px;
  }

  .ButtonText {
    display: block;
    text-align: center;
    margin-top: 5px; /* Adjust as needed */
    font-size: 14px; /* Adjust as needed */
    font-family: 'DM Serif Display', serif; /* Apply the font */
    color: white; /* Set text color to white */
    text-decoration: none; /* Remove underline */
  }
  