/* ContinueButton.css */
.ContinueButton {

    z-index: 3; /* Ensure it's above other content */
  }
  
  .ContinueButton img {
    width: 208px;
    height: 104px;
    position: absolute; /* Position the text absolutely */
    top: 688px;
    left: 91px;
  }

  .ContinueButton span {
    /*Layout*/
    width: 149px;
    height: 29px;
    position: absolute; /* Position the text absolutely */
    top: 725px;
    left: 120px;

    /*Typography*/
    font-family: 'Inter';
    font-weight: 300;
    font-style: italic;
    size: 20px;
    line-height: 24.2px;
    align-items: center;
    align-self: center;
    text-align: center;
    
    /*Colors*/
    color: #020070;
    

  }