/* CommunicationButton.css */
.CommunicationButton {
    z-index: 3; /* Ensure it's above other content */
}

.CommunicationButton img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute; /* Position the text absolutely */
    top: 350px;
    left: 229px;
    background-color: #86EF9D;
}

.CommunicationButton span {
    text-align: center;

    /*Layout*/
    width: 149px;
    height: 29px;
    position: absolute; 
    top: 461px;
    left: 204px;

    /*Typography*/
    font-family: 'Inter';
    font-weight: 300;
    font-style: italic;
    size: 20px;
    line-height: 24.2px;
    align-items: center;
    
    /*Colors*/
    color: #020070;
}
